<!-----------------------------------------------Start Header------------------------------------------>
<nav
  class="navbar navbar-expand-xxl navbar navbar-dark bg-primary align-self-center"
>
  <div class="container">
    <a class="navbar-brand">Online Doctor</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"></li>
        <li></li>
      </ul>
      <a
        type="button"
        class="btn btn-outline-light mx-3"
        href="http://localhost:5000"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25  "
          fill="currentColor"
          class="bi bi-person-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
          />
        </svg>
      </a>
    </div>
  </div>
</nav>

<!-----------------------------------------------End Header --------------------------------------------->
