<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"  rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ff8698dfe7.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        body{background-color: #ebeff2}.card{background-color: white;border: none;border-radius: 5px;box-shadow: 5px 6px 6px 2px #e9ecef}.allergy{position: relative;bottom: 8px;color: grey}.head{color: #97989a;font-size: 12px}.bottom{color: grey;font-size: 14px}
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-2 text-center">
                    <div class="row">
                        <div class="col-md-7 border-right no-gutters">
                            <div class="py-3"><img src="https://i.imgur.com/hczKIze.jpg" width="100" class="rounded-circle">
                                <h4 class="text-secondary">John Smith</h4>
                                <div class="allergy"><span>Allergy</span></div>
                                <div class="stats">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="d-flex flex-column"> <span class="text-left head">DOB</span> <span class="text-left bottom">03/13/2016</span> </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-column"> <span class="text-left head">Age</span> <span class="text-left bottom">22Y 4m</span> </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-flex flex-column"> <span class="text-left head">Weight</span> <span class="text-left bottom">168 lb</span> </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-column"> <span class="text-left head">Height</span> <span class="text-left bottom">5'9"</span> </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right refine" ><a href="http://localhost:5000/booking" class="btn btn-info" role="button">Book Now</a> </div>
                                <!-- <div class="px-3"><button type="button" class="btn btn-primary btn-block" href="http://localhost:5000/booking">Send Message</button></div> -->
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="py-3">
                                <div> <span class="d-block head">Home Address</span> <span class="bottom">123 Broadway,New York,NY,10012</span> </div>
                                <div class="mt-4"> <span class="d-block head">Mobile Phone#</span> <span class="bottom">917 (543)-1234</span> </div>
                                <div class="mt-4"> <span class="d-block head">Home Phone#</span> <span class="bottom">212 (213)-1234</span> </div>
                                <div class="mt-4"> <span class="d-block head">Work Phone#</span> <span class="bottom">718 (702)-9876</span> </div>
                                <div class="mt-4"> <span class="d-block head">Email</span> <span class="bottom">j.smith@gmail.com</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
></script>
</html>