<!DOCTYPE html>
<html lang="en">
  <head>
  <body>
    <!--Start Headder-->
    <%- include ('./partials/navHome.ejs') %>
    <!--End Header-->

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
    <title>Doctors</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</body>
</head>
    <style>@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    font-family: 'Maven Pro', sans-serif
}

body {
    background-color: rgb(238, 238, 238)
}

.add {
    border-radius: 20px
}

.card {
    border: none;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer
}

.card:hover {
    -webkit-box-shadow: 3px 5px 17px -4px #777777;
    box-shadow: 3px 5px 17px -4px #777777
}

.ratings i {
    color: green
}

.apointment button {
    border-radius: 20px;
    background-color: #eee;
    color: #000;
    border-color: #eee;
    font-size: 13px
}
</style>



<div class="container mt-5 mb-5">

    <div class="d-flex justify-content-between mb-3"> <span>Highly Rated Doctors</span> <span> <class="text-right refine ><a href="http://localhost:5000/doctor/doctorview" class="btn btn-info add" role="button">View All Doctors</a> </div>
    <div class="row g-2">
        <div class="col-md-3">
            <div class="card p-2 py-3 text-center">
                <div class="img mb-2"> <img src="/img/doctoricon.png" width="100" class="rounded-circle"> </div>
                <h5 class="mb-0">Doctor Name</h5> <small>Specialization</small>
                <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2 py-3 text-center">
                <div class="img mb-2"> <img src="/img/doctoricon.png" width="100" class="rounded-circle"> </div>
                <h5 class="mb-0">Doctor Name</h5> <small>Specialization</small>
                <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2 py-3 text-center">
                <div class="img mb-2"> <img src="/img/doctoricon.png" width="100" class="rounded-circle"> </div>
                <h5 class="mb-0">Doctor Name</h5> <small>Specialization</small>
                <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2 py-3 text-center">
                <div class="img mb-2"> <img src="/img/doctoricon.png" width="100" class="rounded-circle"> </div>
                <h5 class="mb-0">Doctor Name</h5> <small>Specialization</small>
                <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2 py-3 text-center">
                <div class="img mb-2"> <img src="/img/doctoricon.png" width="100" class="rounded-circle"> </div>
                <h5 class="mb-0">Doctor Name</h5> <small>Specialization</small>
                <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2 py-3 text-center">
                <div class="img mb-2"> <img src="/img/doctoricon.png" width="100" class="rounded-circle"> </div>
                <h5 class="mb-0">Doctor Name</h5> <small>Specialization</small>
                <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2 py-3 text-center">
                <div class="img mb-2"> <img src="/img/doctoricon.png" width="100" class="rounded-circle"> </div>
                <h5 class="mb-0">Doctor Name</h5> <small>Specialization</small>
                <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2 py-3 text-center">
                <div class="img mb-2"> <img src="/img/doctoricon.png" width="100" class="rounded-circle"> </div>
                <h5 class="mb-0">Doctor Name</h5> <small>Specialization</small>
                <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
            </div>
        </div>
        
    </div>
</div>






<footer>
<%- include ('./partials/footer.ejs') %> 
</footer>
<script
 type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'>
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous" 
</script>
</html>