<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Doctor</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--Start Header-->
    <%- include ('./partials/nav.ejs') %>
    <!--End Header-->
    <body>

    <!-----------------------------------------------Start Slider --------------------------------------------->

    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <a
            type="buttton"
            class="btn btn-success position-absolute top-50 start-50 translate-middle"
            href="http://localhost:5000/signuptest"
          >
            Join Us
          </a>
          <img
            src="/img/bermix-studio-b8mwvvFs8Ak-unsplash.jpg"
            class="d-block w-100 img-fluid"
            alt="Doctor pic1"
          />

        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="/img/doctor-6701410.jpg"
            class="d-block w-100 img-fluid"
            alt="Doctor pic2"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/img/stethoscope-6497490.jpg"
            class="d-block w-100 img-fluid"
            alt="Doctor pic3"
          />

        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-----------------------------------------------End  Slider --------------------------------------------->

    <main class="my-5">
      <div class="container">
        
        <div class="row">
          <div class="col-md-7">
            <img
              src="/img/logo.png"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-md-5">
            <h1 class="mt-5">24/7 Doctors</h1>
            <p class="mt-4">
              Welcome to 24/7 Doctors where you shall find the best available doctors in all specializations, compare between then, choose, and book your appointment right away.
              <h5> <center>Always there when you need us the most.</center></h5>
            </p>
            <button type="button" class="btn btn-primary mt-3">
              <a
              type="buttton"
              class="btn btn-primary"
              href="http://localhost:5000/doctor/doctorview"
            > Check our Doctors now
             </a>
            </button>
          </div>
        </div>
        <div class="row my-5">
<hr />
        
        <div class="row my-5">
          </div>
          <div class="col">
            
            <div class="card-group">
              <div class="card">
                <img
                src="/img/unknown.png"
                class="card-img-top"
                width="100%"
                height="45.7%"
                />
                <div class="card-body">
                  <h5 class="card-title">Dentistry</h5>
                  <p class="card-text">
                    Conducting oral screenings to identify diseases and infections
                    Removing tooth decay and plaque 
                    Applying prosthetics, sealers and whiteners
                  </p>

                  <div class="">
                    <a href="#"
                      ><button type="button" class="btn btn-primary">
                        Book Now
                      </button></a
                    >
                  </div>
                </div>
              </div>

              <div class="card">
                <img src="/img/htasd.jpg"
                  class="card-img-top"
                  width="100%"
                  height="45.6%"
                />
                <div class="card-body">
                  <h5 class="card-title">Pediatrics</h5>
                  <p class="card-text">
                    iagnose and treat a broad range of childhood illnesses, from minor health problems to serious diseases.
                  </p>

                  <div class="">
                    <a href="#"
                      ><button type="button" class="btn btn-primary">
                        Book Now
                      </button></a
                    >
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="/img/derma.png"
                  class="card-img-top"
                  width="100%"
                  height="45.6%"
                />
                <div class="card-body">
                  <h5 class="card-title">Dermatology</h5>
                  <p class="card-text">
                    Assessing patients’ skin diseases, conditions, and ailments to determine appropriate treatment
Prescribing medication and creating treatment plans, referring patients for surgery where necessary
Monitoring patient progress

                  </p>

                  <div class="">
                    <a href="#"
                      ><button type="button" class="btn btn-primary">
                        Book Now
                      </button></a
                    >
                  </div>
                </div>
              </div>
            
          
        </main>

   

          <!-- <div class="row my-2">
          <div class="col">
            <div class="bg-secondary text-white my-1 py-1 card text-center">
              <div class="card-body"> For more information:
              </div>
            </div>
          </div>
        <div class="my-2 text-center">
          <h2>Get in touch</h2>
          <p class="lead">Questions? Do not hesitate to contact us.</p>
        </div>
        <div class="row justify-content-center my-5">
          <div class="col-lg-7">
            <form action="">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                id="email"
                placeholder="my@email.com"
                class="form-control"
              />
              <div class="form-floating my-3">
                <input
                  type="name"
                  id="name"
                  placeholder="e.g. Dawid"
                  class="form-control"
                />
                <label for="name" class="form-label">Name:</label>
              </div>
              <label for="subject" class="form=label">Subject</label>
              <select name="subject" id="subject" class="form-select">
                <option value="pricing">Pricing</option>
                <option value="technical" selected>Technical question</option>
                <option value="other">Other</option>
              </select>

              <div class="form-floating my-5">
                <textarea
                  name="query"
                  id="query"
                  style="height: 150px"
                  class="form-control"
                  placeholder="Write a message"
                ></textarea>

                <label for="query">Write a message</label>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Send!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main> -->





    <footer>
      <%- include ('./partials/footer.ejs') %> 
      </footer>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
