<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
     <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <title>Patient Signup</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    />
  </head>
  <body>
    <!-----------------------------------------------Start Header------------------------------------------>
    <!--Start Hader-->
    <%- include ('./partials/nav.ejs') %>
    <!--End Hader-->

    <!-----------------------------------------------Start signup from --------------------------------------------->

    <div class="container d-flex justify-content-center my-5">
      <div class="row my-2 mx-2 main">
        <!--left-column-->
        <div class="col-md-4 col-12 mycol">
          <!--image-->
          <img
            src="https://i.imgur.com/aObk4Ff.jpg?1"
            width="100%"
            height="100%"
          />
        </div>
        <!--right-column-->
        <div class="col-md-8 col-12 xcol">
          <h2 class="title pt-5 pb-3">Patient Sign up</h2>
          <form
            class="myform row g-3 needs-validation"
            action="http://localhost:5000/patient/register"
            method="POST"
            novalidate
          >
            <div class="row rone">
              <div class="form-group col-md-6 fone py-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First name"
                  autocomplete="off"
                  required =""
                  name="pat_FirstName"
                />
              </div>
              <div class="form-group col-md-6 ftwo py-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last name"
                  autocomplete="off"
                  required =""
                  name="pat_Lastname"
                />
              </div>
            </div>
            <div class="row rtwo">
              <div class="form-group col-md-6 fthree py-3">
                <input
                  type="text"
                  class="form-control jk"
                  placeholder="Username"
                  autocomplete="off"
                  required =""
                  name="Pat_username"
                />
              </div>
              <div class="form-group col-md-6 ffour py-3">
                <input
                  type="email"
                  class="form-control lm"
                  placeholder=".....@gmail.com"
                  autocomplete="off"
                  required =""
                  name="pat_Email"
                />
              </div>
            </div>
            <div class="row rthree">
              <div class="form-group col-md-6 ffive py-3">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  autocomplete="off"
                  required =""
                  name="pat_password"
                />
              </div>
              <div class="form-group col-md-6 fsix py-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Insurance number"
                  autocomplete="off"
                  required =""
                  name="pat_InsuranceNo"
                />
              </div>
            </div>

                                
            <div class="row rfour">
              <div class="form-group col-md-6 fseven py-3">
                <select
                  class="form-select"
                  id="validationCustom04"
                  autocomplete="off"
                  required =""
                  name="pat_Gender"
                >
                  <option selected disabled>Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <div class="form-group col-md-6 feight py-3">
                <input type="date" class="form-control" placeholder="m/d/y"
                autocomplete="off"
                required =""
                required name="pat_birthday">
               </div>
            </div> 

            <div class="row rfive">
              <div class="form-group col-md-6 fnine py-3">
                <div class="card-body">
                  <div class="alert alert-light text-danger" role="alert">
                    <%- errorMessage %>
                  </div>
                  <div class="wrapper text-left">
                      <button class="btn btn-primary" type="submit" onclick="sSuccess('success-message')">Create an account</button> 
                  </div>
              </div>
   <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
   
   <script type='text/Javascript'>
                                              
              (function($) {
              sSuccess = function(type) {
              'use strict';
              if (type == 'success-message') {
              swal({
              title: 'Congratulations!',
              text: 'Account Successfully Created',
              type: 'success',
              })
              
              }else{
              swal("Error occured !");
              }
              }
              
              })(jQuery);
              </script> 
                <!-- <button type="submit" class="btn btn-primary">
                  <span>Create account</span>
                </button> -->
              </div>
              <div class="form-group col-md-6 ften py-3">
                <p class="text-muted">
                  Already have an account?<br /><a
                    href="http://localhost:5000/signin"
                    >Sign in</a
                  >
                </p>
               
            </div>     
          </form>
        </div>
        </div>
        </div>
        </div>


    <!-- <div class="container">
      <div class="text-center">
        <h2 class="my-5">Signup Now</h2>
        <p class="lead">Please fill-in the following:</p>
    </div >
          <div class=" container justify-content-center" >
            
              <form  action="http://localhost:5000/patient/register" method="POST" class="row g-3 needs-validation" novalidate>
                <div class="col-md-2 form-floating ">
                  <input type="text" class="form-control" id="validationCustom01" placeholder="Username" required name="Pat_username">
                  <label for="validationCustom01" class="form-label">Username</label>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-2 form-floating">
                  <input type="text" class="form-control" id="validationCustom02" placeholder="Fisrt Name" required name="pat_FirstName">
                  <label for="validationCustom02" class="form-label">First name</label>
                  
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-2 form-floating">
                  <input type="text" class="form-control" id="validationCustom02" placeholder="Last Name" required name="pat_Lastname">
                  <label for="validationCustom02" class="form-label">Last name</label>
                  
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-3 form-floating">  
                  <input type="text" class="form-control" id="validationCustom03" placeholder="exmpale@gmail.com" required name="pat_Email">
                  <label for="validationCustom03" class="form-label">Email</label>
                
                  <div class="invalid-feedback">
                    Please provide a valid Email.
                  </div>
                </div>
                <div class="col-md-2 form-floating">
                  <select class="form-select" id="validationCustom04" required name="pat_Gender">
                    <option selected disabled >Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                  <label for="validationCustom04" class="form-label">Gender</label>
                  
                  <div class="invalid-feedback">
                    Please select a valid state.
                  </div>
                </div>
                <div class="col-md-3 form-floating">
                  <input type="password" class="form-control" id="validationCustom05" placeholder="Password" required name="pat_password">
                  <label for="validationCustom05" class="form-label">Password</label>
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                  <div class="col-md my-2 form-floating">
                    <input type="date" class="form-control" id="validationCustom05" placeholder="m/d/y" required name="pat_birthday">
                    <label for="validationCustom05" class="form-label">Brithday</label>
                    <div class="invalid-feedback">
                      Please provide a valid Date.
                    </div>
                </div>
                <div class=" form-floating">
                  <input type="text" class="form-control" id="validationCustom05" placeholder="Insurnas number" required name="pat_InsuranceNo">
                  <label for="validationCustom05" class="form-label">Insurance number</label>
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                      Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                      You must agree before submitting.
                    </div>
                  </div>
                </div>
                <div class="col-12">

                  <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-----------------------------------------------End signup from --------------------------------------------->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
