<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Signin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    </style>
  </head>
  <body>
    <!--Start Hader-->
    <%- include ('./partials/nav.ejs') %>
    <!--End Hader-->

    <!--Start sgin form-->
    <section class="vh-400">
      <div class="container py-5 h-200">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="/img/login.png" class="img-fluid" alt="Phone image" />
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form action="/patient/login" method="post">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="username"
                  id="form1Example13"
                  class="form-control form-control-lg"
                  autocomplete="off"
                  required =""
                  name="Pat_username"
                />
                
                <label class="form-label" for="form1Example13"
                  >Email address</label
                >
              </div>
              

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="form1Example23"
                  class="form-control form-control-lg"
                  autocomplete="off"
                  required =""
                  name="pat_password"
                />
                <label class="form-label" for="form1Example23">Password</label>
              </div>
              <!-- <select class="fs-6 form-select mt-3 form-select-lg mb-3" aria-label=".form-select-lg example"placeholder="Choose your role">
                <option value="1"><a href="signIn.ejs">Patient</a></option>
                <option value="2"><a href="#">Doctor</a></option>
                <option value="3"><a href="#">Pharmacy</a></option>
             </select> -->
             <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle mb-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Patient
              </a>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="http://localhost:5000/signin">Patient</a></li>
                <li><a class="dropdown-item" href="http://localhost:5000/signin-Doctor">Doctor</a></li>
                <li><a class="dropdown-item" href="http://localhost:5000/signin-Pharmacy">Pharmacy</a></li>
              </ul>
            </div>
                <div
                  class="d-flex justify-content-around align-items-center mb-4"
                >
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="form1Example3"
                      checked
                    />
                    <label class="form-check-label" for="form1Example3">
                      Remember me
                    </label>
                  </div>
                  <a href="#!">Forgot password?</a>
                </div>
                <div class="alert alert-light text-danger" role="alert">
                <%- errorMessage %>
              </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  Sign in
                </button>
              </div>
              
            </form>
            <!--Start sign form-->
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!-----------------------------------------------Start SignIn Form --------------------------------------------->
<!-- 
      Old version
       <div class="container">
      <div class="text-center">
        <h2 class="">Sign In</h2>
        <p class="lead">Welcome</p>
      </div> 
      
      <div class="container justify-content-center">
        <form action="/patient/login" method="post">
          <div class="text-center">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input
              type="Username"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              required
              name="Pat_username"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your Username with anyone else.
            </div>
          </div>
          <div class="text-center">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              required
              name="pat_password"
            />
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check</label
            >
          </div>
          <div class="alert alert-light text-danger" role="alert">
            
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div> -->

<!-----------------------------------------------End SignIn Form --------------------------------------------->
