<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
    <title>Update Schedule</title>

    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

  </head>
  <body>
<style>

label {
  font-size: 18px;
}

input {
    padding: 10px 15px !important;
    border: 1px solid #CFD8DC !important;
    border-radius: 4px !important;
    box-sizing: border-box;
    background-color: #fff !important;
    color: #000 !important;
    font-size: 16px !important;
    letter-spacing: 1px;
    position: relative;
    width: 100%;
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #FFA000 !important;
    outline-width: 0;
}

.daterangepicker {
  background-color: #fff;
  border-radius: 0 !important;
  align-content: center !important;
  padding: 0 !important;
}

/*Weekday Heading*/
thead tr:nth-child(2) {
  color: #BDBDBD !important;
}

tbody tr td {
  padding: 5px 7px !important;
}

.month {
  font-size: 16px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.start-date, .end-date {
  border-radius: 0px !important;
}

.available:hover {
  border-radius: 0px !important;
}

.off {
  color: #EEEEEE !important;
}

.off:hover {
  background-color: #EEEEEE !important;
  color: #fff !important;
}

.drp-buttons {
  display: none !important;
}
</style>

  <!--Start Hader-->
  <%- include ('../partials/NavDoc.ejs') %>
  <!--End Hader-->

    <!-----------------------------------------------Start Schedule Form --------------------------------------------->



            <div class="container rounded bg-white mt-5 mb-5">
                <div class="row">
                       <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"><div class="c"> <%- name %></div> </span><span class="text-black-50"> <%- email %> </span><span> </span></div>
                    </div>
                     <div class="col-md-5 border-right">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Schedule Settings</h4>
                           </div>
<form action="http://localhost:5000/doctor/UpdateSchedule" method="POST" ><div class="row mt-3">
  
 <label >Available Days</label>
 <input class="form-control" type="text" value="01/01/2022 - 01/15/2022" name="Available_Days" readonly />
 <!-- -->



   <br>
   <br>

   <label for="exampleDataList" class="form-label" >Time-Period</label>
    <input class="form-control" list="Time-Period" id="exampleDataList" placeholder="Type to search..."name="Start_Time">
    <datalist id="Time-Period">
      <option value="All day">
      <option value="From 9:00am till 5:00pm">
      <option value="From 2:00pm till 9:00pm">
      <option value="Enter your own">
    </datalist>

    <br>
    <br>

    <label for="exampleDataList" class="form-label">Patients per-day</label>
    <input class="form-control" list="Patients per-day" id="exampleDataList" placeholder="Type to search..." name="Meeting_Maximum_Patient">
    <datalist id="Patients per-day">
      <option value="10">
      <option value="20">
      <option value="30">
      <option value="Enter your own">
    </datalist>

    <br>
    <br>

    <label for="exampleDataList" class="form-label">Available methods</label>
    <input class="form-control" list="Available methods" id="exampleDataList" placeholder="Type to search..." name="Available_methods">
    <datalist id="Available methods">
      <option value="Zoom Meeting">
      <option value="WhatsApp">
      <option value="Face to Face">
    </datalist>

    <br>
    <br>

    <label for="exampleDataList" class="form-label">Average Waiting-Time</label>
    <input class="form-control" list="Average Waiting-Time" id="exampleDataList" placeholder="Type to search..." name="AveWating_Time">
    <datalist id="Average Waiting-Time">
      <option value="1 Hour">
      <option value="2 Hours">
      <option value="3 Hours">
      <option value="Less than 1 Hour">
      <option value="More than 3 Hours">
    </datalist>

    <br>
    <br>

    <label for="exampleDataList" class="form-label">Upfront Fees</label>
    <input class="form-control" list="Upfront Fees" id="exampleDataList" placeholder="Type to search..." name="Upfront_fees">
    <datalist id="Upfront Fees">
      <option value="150 EGP">
      <option value="200 EGP">
      <option value="250 EGP">
      <option value="300 EGP">
      <option value="Enter your own">
    </datalist>
</div>
                             <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Update Schedule</button></div>  
</form>

                           </div> 
                          
                    </div>
                
      
            </div>
            </div>
            </div>  


  

<!--Start Footer-->
<footer>
<%- include ('../partials/footer.ejs') %>
</footer>
<!--End Footer-->

</body>



<script>


// $('input[name="Available_Days"]').daterangepicker();


$(document).ready(function(){
  $(function() {
    $('input[name="Available_Days"]').daterangepicker({
      "startDate": moment().startOf('hour'),
       "endDate": moment().startOf('hour').add(32, 'hour'),
      opens: 'center',
      locale: {
      format: 'DD/MM/YYYY'

      }
    });
  });
});

</script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
</html>