<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
    <title>Set Schedule</title>

    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

  </head>
  <body>
<style>

label {
  font-size: 18px;
}

input {
    padding: 10px 15px !important;

}
* {
    font-family: 'Montserrat', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("https://i.imgur.com/yxGld6F.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


</style>

    <!-----------------------------------------------Start Schedule Form --------------------------------------------->



            <div class="container-fluid">
                <div class="row">
                       <div class="col-md-3 border-right">
                    </div>
                     <div class="col-md-5 border-right bg-white">
                        <div class="p-3 py-5">
                                <h4 class="text-center">Set Schedule</h4>
                           </div>
<form action="http://localhost:5000/doctor/SetDocSche" method="POST" ><div class="row">
  <div class="container-fluid">

 <label><strong>Available Days</strong></label>

 <!-- <input class="form-control" type="text" value="01/01/2022 - 01/15/2022" name="Available_Days" readonly /> -->

 <div class="form-check">
  <input class="form-check-input" type="checkbox" value="Saturday" id="Saturday" name="Available_Days" />
  <label class="form-check-label" for="Saturday">Saturday</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Sunday" id="Sunday" name="Available_Days" />
  <label class="form-check-label" for="Sunday">Sunday</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Monday" id="Monday" name="Available_Days"  />
  <label class="form-check-label" for="Monday">Monday</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Tuesday" id="flexCheckDefault" name="Available_Days" />
  <label class="form-check-label" for="flexCheckDefault">Tuesday</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Wednesday" id="Wednesday" name="Available_Days" />
  <label class="form-check-label" for="Wednesday">Wednesday</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Thursday" id="Thursday" name="Available_Days"  />
  <label class="form-check-label" for="Thursday">Thursday</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Friday" id="Friday" name="Available_Days"  />
  <label class="form-check-label" for="Friday">Friday</label>
</div>

</div>

   

   <div class="container-fluid mt-3">
    <label for="exampleDataList" class="form-label m"><strong>Time-Period</strong></label>
    <input class="form-control" list="Time-Period" id="exampleDataList" placeholder="From --:--am till --:--pm"name="Start_Time">
    <datalist id="Time-Period">
      <option value="All day">
      <option value="From 9:00am till 5:00pm"></option>
      <option value="From 2:00pm till 9:00pm"></option>
      <option value="Enter your own">Enter your own</option>
    </datalist>

  </div>

    
    


<div class="container-fluid mt-3">
    <label for="exampleDataList" class="form-label"><strong>Patients per-day</strong></label>
    <input class="form-control" list="Patients per-day" id="exampleDataList" placeholder="Type to search..." name="Meeting_Maximum_Patient">
    <datalist id="Patients per-day">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="Enter your own">Enter your own</option>
    </datalist>

    
    
</div>

    <div class="container-fluid mt-3">
    <label for="exampleDataList" class="form-label"><strong>Available methods</strong></label>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Google Meet" id="Google Meet" name="Available_methods" />
  <label class="form-check-label" for="Google Meet">Google Meet</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="WhatsApp" id="WhatsApp" name="Available_methods" />
  <label class="form-check-label" for="WhatsApp">WhatsApp</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Face to Face" id="Face to Face" name="Available_methods"  />
  <label class="form-check-label" for="Face to Face">Face to Face</label>
</div>


    
    
</div>

<div class="container-fluid mt-3">
    <label for="exampleDataList" class="form-label"><strong>Average Waiting-Time</strong></label>
    <input class="form-control" list="Average Waiting-Time" id="exampleDataList" placeholder="Type to search..." name="AveWating_Time">
    <datalist id="Average Waiting-Time">
      <option value="1 Hour">
      <option value="2 Hours">
      <option value="3 Hours">
      <option value="Less than 1 Hour">
      <option value="More than 3 Hours">
    </datalist>
    </div>

    
    

<div class="container-fluid mt-3">
    <label for="exampleDataList" class="form-label"><strong>Upfront Fees</strong></label>
    <input class="form-control" list="Upfront Fees" id="exampleDataList" placeholder="Type to search..." name="Upfront_fees">
    <datalist id="Upfront Fees">
      <option value="150 EGP">
      <option value="200 EGP">
      <option value="250 EGP">
      <option value="300 EGP">
      <option value="Enter your own">
    </datalist>
  </div>

</div>

                             <div class="mt-5 text-center mb-5">
                              <button class="btn btn-success profile-button" type="submit">Submit Schedule</button>
                              <button class="btn btn-outline-danger" type="submit">Skip</button>
                            </div>
                            </form>

                             
                           </div> 
                          
                    </div>
                
      
            </div>
            </div>
            </div>  


  



</body>



<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
</html>